Source: candid
Section: devel
Priority: extra
Maintainer: Rick Harding <rick.harding@canonical.com>
Build-Depends: debhelper (>= 7.0.50~),
               gccgo-go [!amd64 !i386 !armhf],
               golang-go (>= 2:1.2) [amd64 i386 armhf],
               lsb-release,
               build-essential,
               devscripts,
               git,
               bzr,
               mercurial,
               debhelper,
Standards-Version: 3.9.5
Homepage: http://github.com/CanonicalLtd/candid
XS-Testsuite: autopkgtest

Package: candid
Architecture: any
Description: Canonical Identity Service
 The Canonical Identity service provides a macaroon-based authentication
 against external identity providers.
