Source: blues-identity
Section: devel
Priority: extra
Maintainer: Rick Harding <rick.harding@canonical.com>
Build-Depends: debhelper (>= 7.0.50~),
               gccgo-go [!amd64 !i386 !armhf],
               golang-go (>= 2:1.2) [amd64 i386 armhf],
               lsb-release,
               build-essential,
               devscripts,
               git,
               bzr,
               mercurial,
               debhelper,
Standards-Version: 3.9.5
Homepage: http://github.com/CanonicalLtd/blues-identity
XS-Testsuite: autopkgtest

Package: blues-identity
Architecture: any
Description: Identity management for The Blues service.
